<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.society_try">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_putih"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">

        <service
            android:name="com.example.background.JobServices"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name="com.example.artikel.MenuArtikel"
            android:label="New Article"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.example.myartikel.MyArticle"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="com.example.selection.HobbySelected"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="com.example.activity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.selection.Hobbies"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.onclick.ArtikelSelected"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="com.example.onclick.CommunitySelected"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name=".MainMenu"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="com.example.settings.SettingActivity"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="com.example.onclick.MyArtikelSelected"
            android:label="My Article"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.example.community.ListKomunitas"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="com.example.activity.ActivityRegister"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>